<div class="formulario">
	<h1>Modalidade</h1>
<%= form_for(modalidade) do |f| %>
  <% if modalidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modalidade.errors.count, "error") %> prohibited this modalidade from being saved:</h2>

      <ul>
      <% modalidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :descricao %>
    <%= f.text_field :descricao, class: "form-control" %>
  </div>

  <div class="actions form-group">
		<%= link_to 'Back', modalidades_path, class: "btn btn-default" %>
    <%= f.submit "Registrar", :class => "btn btn-success" %>
  </div>
<% end %>
</div>
