<p id="notice"><%= notice %></p>

<h1>Modalidades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modalidades.each do |modalidade| %>
      <tr>
        <td><%= modalidade.nome %></td>
        <td><%= modalidade.descricao %></td>
        <td><%= link_to 'Mostrar', modalidade %></td>
        <td><%= link_to 'Editar', edit_modalidade_path(modalidade) %></td>
        <td><%= link_to 'Excluir', modalidade, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Modalidade', new_modalidade_path, class: "btn btn-success" %>
