<div class="formulario">

	<p id="notice"><%= notice %></p>
	
	<div class="page-header">
		<h1><%= @modalidade.nome %></h1>
	</div>
	<p>
		<%= @modalidade.descricao %>
	</p>
	
	<%= link_to 'Back', modalidades_path, class: "btn btn-default" %>
	<%= link_to 'Edit', edit_modalidade_path(@modalidade), class: "btn btn-info" %>

</div>
