<p id="notice"><%= notice %></p>


	<div class="page-header">
		<h1>Atletas</h1>
	</div>

<table class="table">
  <thead>
    <tr>
			<th></th>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Modalidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atletas.each do |atleta| %>
      <tr>
				<td><%= image_tag atleta.photo, class: "profile-pic mini" %></td>
        <td><%= atleta.nome %></td>
        <td><%= atleta.descricao %></td>
        <td><%= atleta.modalidade.nome %></td>
        <td>
					<%= link_to 'Mostrar', atleta %>
						
				</td>
        <td><%= link_to 'Editar', edit_atleta_path(atleta) %></td>
        <td><%= link_to 'Excluir', atleta, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Atleta', new_atleta_path, class: "btn btn-success" %>
